# Папки зависимостей
backend/venv/
frontend/node_modules/

# Сборки
frontend/build/

# Системные файлы
.DS_Store
*.pyc

# Файлы переменных окружения
.env

instance/
migrations/
static/

!/backend/api/static/video_poster.png
!/backend/api/static/audio_poster.png